# Dependency directories
node_modules/

# Environment variables (Sangat Penting!)
.env
.env.local
.env.*.local

# OS junk
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
