name: Express CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Run Test
      run: npm test

    # --- INI TUGAS RUMAHNYA ---
    - name: Check Server Files
      run: ls -la